@model PortfolioVM
@section Header {
    Delete Portfolio
}

<div class="col-md-12">

    <div class="card  card-danger">
        <div class="card-header">
            <h3 class="card-title">Details confirmation</h3>
        </div>

        <div class="card-body">
            <p>Are You Sure to want Deleted @Model.Name Portfolio</p>
        </div>

        <div class="card-footer">
            <form asp-controller="Portfolio" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger"> Delete</button>
                <a class="btn btn-secondary " asp-controller="Portfolio" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>

</div>
