
@model ServiceDetailsVM

@section Header{
    Service Details
}

<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Details for @Model.Name</h3>
        </div>

        <ul>
            <li>Description : @Model.Description</li>
            <li>Status : @(Model.IsDeleted? "Deleteed":"Active")</li>
            <li>CreateAt : @Model.CreatedAt</li>
        </ul>
       
    </div>

</div>