@model ItemFormVM

@section Header {
   Items
}



<div class="col-md-12">

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Creata</h3>
</div>

<form asp-controller="Items" asp-action="Create" enctype="multipart/form-data" >
<div class="card-body">
    <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"  placeholder="Enter Service Name">
    </div>
     <div class="form-group">
            <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="Enter Service Description">
     </div>
     <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Enter Service Description">
     </div>
     <div class="form-group">
           <label asp-for="portfolioId">select Portfoli</label>
           <select asp-for="portfolioId" class="form-control" asp-items="@(Model.Portfolios)"></select>

     </div>
     <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control-file">
      </div>


</div>

<div class="card-footer">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>

</div>